<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exam Software</title>
</head>
<body>
    <h1>Exam Manager</h1>
    <h2 th:if="${exams} eq null or ${#lists.isEmpty(exams)}">No exams yet!</h2>

    <div th:unless="${exams} eq null or ${#lists.isEmpty(exams)}">
        <h2>Exams:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Description:</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="userManagement : ${exams}">
                    <td th:text="${userManagement.name}"></td>
                    <td th:text="${userManagement.description}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Add Exam</h2>
        <form action="#" th:action="@{/addExam}" th:object="${userManagement}" method="post">
            <table>
                <tr>
                    <td><label th:text="Name" /></td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td><label th:text="Description" /></td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>