<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Fix Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    table, td, th {
    border: 1px solid #ddd;
    text-align: left;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    padding: 15px;
    }
</style>
</head>
<body>
<h2>Select the Error Code</h2>
<!--<form th:action="@{/api/vehicle-fix/information/{code}(code=${code})}" method="post" th:object="${getDefectComponentDataByErrorCode}">-->
<!--    <input type="text" th:value="${code}" th:name="code">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<a th:href="@{/api/vehicle-fix/information/P0128}"
   >P0128</a>

<a th:href="@{/api/vehicle-fix/information/P0456}"
>P0456</a>

<table>
    <tr>
        <th>
            Error Code
        </th>
        <th>
            Vehicle Location
        </th>
        <th>
            Component Available?
        </th>
        <th>
            Component Type
        </th>
    </tr>
    <tr>
        <td th:text="${errorCode}" />
        <td th:text="${errorCode}" />
<!--        <td th:text="${location.latitude} ${location.longitude}" />-->
        <td th:text="${isComponentAvailable}" />
        <td th:text="${defectComponentType}" />
    </tr>
</table>

</body>
</html>